<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>238478735854-laha7sfq33u76jo0u5ftfk14cgobfrjl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.238478735854-laha7sfq33u76jo0u5ftfk14cgobfrjl</string>
	<key>API_KEY</key>
	<string>AIzaSyD_eoDj5nK7UUB9VE9RD9O2nYdNRQk-kKs</string>
	<key>GCM_SENDER_ID</key>
	<string>238478735854</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myauth</string>
	<key>PROJECT_ID</key>
	<string>myauth-3afa4</string>
	<key>STORAGE_BUCKET</key>
	<string>myauth-3afa4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:238478735854:ios:a85b45945a29411c5936ff</string>
</dict>
</plist>